html {
  height: 100vh;
}

body {
  height: 100vh;
  display: block;
}

textarea {
  resize: none;
}

.card {
  -webkit-box-shadow: 0 0 8px #d5d5d5;
          box-shadow: 0 0 8px #d5d5d5;
  border: none;
  border-radius: 10px;
}

.log-btn {
  display: inline;
  border-radius: 20px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#0f71bd), to(#3ccefe));
  background: -webkit-linear-gradient(left, #0f71bd, #3ccefe);
  background: linear-gradient(to right, #0f71bd, #3ccefe);
  padding: 10px 60px;
  position: relative;
  z-index: 10;
}

.log-btn::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  width: 100%;
  opacity: 1;
  height: 110%;
  background: -webkit-gradient(linear, left top, right top, from(#0f71bd), to(#3ccefe));
  background: -webkit-linear-gradient(left, #0f71bd, #3ccefe);
  background: linear-gradient(to right, #0f71bd, #3ccefe);
  border-radius: 20px;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  z-index: -1;
}

.row {
  margin: 0;
}

header {
  width: 100%;
  height: 64px;
  background-color: #fff;
}

header .header-container {
  margin: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header span {
  color: #97b9d1;
}

main {
  position: relative;
  background-color: #eee;
  padding-top: 20px;
  height: -webkit-calc(100vh - 64px);
}

.language-tags .incircle-tag.color-1::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #0345ec;
  border-radius: 50%;
  margin-right: 5px;
}

.language-tags .incircle-tag.color-2::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #0f71bd;
  border-radius: 50%;
  margin-right: 5px;
}

.language-tags .incircle-tag.color-3::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #20bdde;
  border-radius: 50%;
  margin-right: 5px;
}

.language-tags .incircle-tag.color-4::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #3ccefe;
  border-radius: 50%;
  margin-right: 5px;
}

.language-tags .incircle-tag.color-5::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #b29ef3;
  border-radius: 50%;
  margin-right: 5px;
}

.language-tags .incircle-tag.color-6::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #6d46ec;
  border-radius: 50%;
  margin-right: 5px;
}

.language-tags .incircle-tag.color-7::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #4a17ef;
  border-radius: 50%;
  margin-right: 5px;
}

.language-tags .incircle-tag.color-8::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #3105c0;
  border-radius: 50%;
  margin-right: 5px;
}

.content-tags .incircle-tag.color-1::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #0345ec;
  border-radius: 50%;
  margin-right: 5px;
}

.content-tags .incircle-tag.color-2::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #0f71bd;
  border-radius: 50%;
  margin-right: 5px;
}

.content-tags .incircle-tag.color-3::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #20bdde;
  border-radius: 50%;
  margin-right: 5px;
}

.main-wrapper .row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .main-content {
  width: -webkit-calc(50% - 10px);
}

.main-wrapper .main-left {
  margin-right: 20px;
}

.main-wrapper .main-left .hour-logs {
  width: 100%;
  margin-right: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .main-left .hour-logs .hour:not(:last-child) {
  margin-right: 16px;
}

.main-wrapper .main-left .hour-logs .hour {
  padding: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.main-wrapper .main-left .hour-logs .hour .log-title {
  font-size: 16px;
  font-weight: 600;
  color: #0f71bc;
}

.main-wrapper .main-left .hour-logs .hour h1 {
  font-weight: 600;
  font-size: 26px;
}

.main-wrapper .main-left .hour-logs .hour .log-content {
  color: #97b9d1;
}

.main-wrapper .main-left .bar-graph {
  padding: 32px 20px 16px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .main-left .bar-graph .bar {
  margin-right: 8px;
  text-align: center;
  width: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3bccfe), to(#1175bf));
  background: -webkit-linear-gradient(#3bccfe, #1175bf);
  background: linear-gradient(#3bccfe, #1175bf);
  border-radius: 10px;
  height: 165px;
}

.main-wrapper .main-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .main-right h1 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}

.main-wrapper .main-right .card {
  padding: 20px;
  width: 50%;
}

.main-wrapper .main-right .language-circle {
  margin-right: 16px;
}

.main-wrapper .main-right .language-circle .language-tags ul {
  margin-left: 0;
  padding: 0;
}

.main-wrapper .main-right .language-circle .language-tags ul li {
  display: inline-block;
  list-style: circle;
}

.main-wrapper .main-right .language-circle .language-tags .languages-tag {
  position: relative;
  margin-right: 12px;
}

.main-wrapper .main-right .pie {
  max-height: 200px;
  margin-bottom: 20px;
}

.main-wrapper .main-right #contents {
  background-image: -webkit-radial-gradient(#fff 35%, transparent 36%), conic-gradient(#0345ec 0% 42%, #0f71bd 42% 75%, #20bdde 75% 100%);
  background-image: radial-gradient(#fff 35%, transparent 36%), conic-gradient(#0345ec 0% 42%, #0f71bd 42% 75%, #20bdde 75% 100%);
}

.main-wrapper .main-left.col-md,
.main-wrapper .main-right.col-md {
  margin: 0;
}

.main-bottom {
  text-align: center;
  margin-top: 20px;
}

#modal-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 900px;
  max-height: 700px;
  border-radius: 20px;
}

#modal-content .submit {
  text-align: center;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal-wrapper input[type=checkbox] {
  display: none;
}

.modal-wrapper .form-the-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal-wrapper .close-modal {
  position: absolute;
  display: block;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #f5f5f8;
}

.modal-wrapper .modal-container {
  width: 50%;
}

.modal-wrapper .modal-left {
  margin-left: 56px;
  margin-right: 40px;
}

.modal-wrapper .modal-right {
  margin-right: 56px;
}

.modal-wrapper p {
  font-weight: 600;
}

.modal-form {
  border: none;
  background-color: #f5f5f8;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
}

.form-content {
  padding-top: 20px;
}

.checkbox-form span {
  padding: 5px 10px;
  display: inline-block;
  margin: 0;
}

.checkbox-form input[type=checkbox] {
  display: none;
}

.checkbox-form input[type=checkbox]:checked + .selectbox {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #fff;
  background-color: #3ccefe;
}

.checkbox-form input[type=checkbox]:checked + .selectbox .checkbox {
  background-color: #0345ec;
}

.checkbox-form label {
  margin-bottom: 0;
}

.checkbox-form .selectbox {
  border-radius: 20px;
  background-color: #f5f5f8;
  margin-bottom: 0.5rem;
}

.checkbox-form .checkbox {
  padding: 0;
  display: inline-block;
  position: relative;
  background-color: #666;
  width: 1rem;
  height: 1rem;
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 50%;
  margin-right: 5px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.checkbox-form .checkbox::before {
  content: "";
  width: 5px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: .5em;
  left: .2em;
}

.checkbox-form .checkbox::after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  -webkit-transform: rotate(305deg);
          transform: rotate(305deg);
  top: .42em;
  left: .3em;
}

.twitter .checkbox {
  padding: 0;
  display: inline-block;
  position: relative;
  background-color: #666;
  width: 1rem;
  height: 1rem;
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 50%;
  margin-right: 5px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.twitter .checkbox::before {
  content: "";
  width: 5px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: .5em;
  left: .2em;
}

.twitter .checkbox::after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  -webkit-transform: rotate(305deg);
          transform: rotate(305deg);
  top: .42em;
  left: .3em;
}
/*# sourceMappingURL=style.css.map */