$font-primary-blue: rgb(15, 113, 188);
$font-second-blue: rgb(151, 185, 209);

// 円グラフに使う色
$primary-blue: rgb(3, 69, 236);
$second-blue: rgb(15, 113, 189);
$third-blue: rgb(32, 189, 222);
$forth-blue: rgb(60, 206, 254);
$fifth-blue: rgb(178, 158, 243);
$six-blue: rgb(109, 70, 236);
$seven-blue: rgb(74, 23, 239);
$eight-blue: rgb(49, 5, 192);

$languages-colors: $primary-blue,
$second-blue,
$third-blue,
$forth-blue,
$fifth-blue,
$six-blue,
$seven-blue,
$eight-blue;

$contents-colors: $primary-blue,
$second-blue,
$third-blue;

// フォームカラー
$form-bg: rgb(245, 245, 248);

@mixin graph-property($colors, $len) {
    @for $i from 1 through $len {
        .incircle-tag.color-#{$i}::before {
            content: "";
            width: 12px;
            height: 12px;
            display: inline-block;
            background-color: nth($colors, $i);
            border-radius: 50%;
            margin-right: 5px;
        }
    }
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    display: block;
}

textarea {
    resize: none;
}

.card {
    box-shadow: 0 0 8px #d5d5d5;
    border: none;
    border-radius: 10px;
}

.log-btn {
    //
    display: inline;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(to right, $second-blue, $forth-blue);
    padding: 10px 60px;
    position: relative;
    z-index: 10;
}

.log-btn::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    width: 100%;
    opacity: 1;
    height: 110%;
    background: linear-gradient(to right, $second-blue, $forth-blue);
    border-radius: 20px;
    filter: blur(6px);
    z-index: -1;
}

.row {
    margin: 0;
}

header {
    width: 100%;
    height: 64px;
    background-color: #fff;

    .header-container {
        margin: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .header-logo {
        display: flex;
    }

    .header-title {
        vertical-align: middle;
        color: #97b9d1;
    }

    img {
        height: 64px;

    }
}

main {
    position: relative;
    background-color: #eee;
    padding-top: 20px;
    height: -webkit-calc(100vh - 64px);
}

.language-tags {
    @include graph-property($languages-colors, 8);
}

.content-tags {
    @include graph-property($contents-colors, 3);
}


.main-wrapper {
    .row {
        justify-content: center;
    }

    .main-content {
        width: -webkit-calc(50% - 10px);
    }
}

.main-left {
    margin-right: 20px;

    .hour-logs {
        width: 100%;
        margin-right: 0;
        justify-content: center;

        .hour:not(:last-child) {
            margin-right: 16px;
        }

        .hour {
            padding: 16px;
            text-align: center;
            margin-bottom: 20px;

            .log-title {
                font-size: 16px;
                font-weight: 600;
                color: $font-primary-blue;
            }

            h1 {
                font-weight: 600;
                font-size: 26px;
            }

            .log-content {
                color: $font-second-blue;
            }
        }
    }

    .bar-graph {
        padding: 32px 20px 16px 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;

        .bar {
            margin-right: 8px;
            text-align: center;
            width: 8px;
            background: linear-gradient(rgb(59, 204, 254), rgb(17, 117, 191));
            border-radius: 10px;
            height: 165px;
        }
    }
}

.main-right {
    h1 {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .card {
        padding: 20px;
        width: 50%;
    }

    .language-circle {
        margin-right: 16px;

        .language-tags {
            ul {
                margin-left: 0;
                padding: 0;

                li {
                    display: inline-block;
                    list-style: circle;
                }
            }

            .languages-tag {
                position: relative;
                margin-right: 12px;
            }
        }
    }

    .pie {
        max-height: 200px;
        margin-bottom: 20px;
    }


    #contents {
        background-image: radial-gradient(#fff 35%, transparent 36%), conic-gradient($primary-blue 0% 42%, $second-blue 42% 42% + 33%, $third-blue 42%+33% 100%);
    }
}

.main-left.col-md,
.main-right.col-md {
    margin: 0;
}




.main-bottom {
    text-align: center;
    margin-top: 20px;
}


// modal

#modal-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    width: 900px;
    max-height: 700px;
    border-radius: 20px;

    .submit {
        text-align: center;
    }
}

.modal-bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

// modal form
.modal-wrapper {
    input[type=checkbox] {
        display: none;
    }

    .form-the-content {
        display: flex;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .close-modal {
        position: absolute;
        display: block;
        top: 0.5rem;
        right: 1rem;
        cursor: pointer;
        font-size: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: $form-bg;
    }

    .modal-container {
        width: 50%;
    }

    .modal-left {
        margin-left: 56px;
        margin-right: 40px;
    }

    .modal-right {
        margin-right: 56px;
    }

    p {
        font-weight: 600;
    }
}




.modal-form {
    border: none;
    background-color: $form-bg;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.form-content {
    padding-top: 20px;
}

.checkbox-form {
    span {
        padding: 5px 10px;
        display: inline-block;
        margin: 0;
    }

    input[type=checkbox] {
        display: none;

        // クリックしたときのアニメーション
        &:checked {
            +.selectbox {
                transition: .3s ease;
                color: #fff;
                background-color: $forth-blue;

                .checkbox {
                    background-color: $primary-blue;
                }
            }
        }
    }

    label {
        margin-bottom: 0;
    }


    .selectbox {
        border-radius: 20px;
        background-color: $form-bg;
        margin-bottom: 0.5rem;
    }

    .checkbox {
        padding: 0;
        display: inline-block;
        position: relative;
        background-color: #666;
        width: 1rem;
        height: 1rem;
        transform-origin: center;
        border-radius: 50%;
        margin-right: 5px;
        transition: .3s ease;

        &::before {
            content: "";
            width: 5px;
            height: 2px;
            border-radius: 2px; // so that the tick has nice rounded look
            background: #fff;
            position: absolute;
            transform: rotate(45deg);
            top: .5em; // you'll need to experiment with placement depending on the dimensions you've chosen
            left: .2em;
        }

        &::after {
            content: "";
            width: 10px;
            height: 2px;
            border-radius: 2px;
            background: #fff;
            position: absolute;
            transform: rotate(305deg);
            top: .42em;
            left: .3em;
        }
    }
}

.twitter {
    .checkbox {
        padding: 0;
        display: inline-block;
        position: relative;
        background-color: #666;
        width: 1rem;
        height: 1rem;
        transform-origin: center;
        border-radius: 50%;
        margin-right: 5px;
        transition: .3s ease;

        &::before {
            content: "";
            width: 5px;
            height: 2px;
            border-radius: 2px; // so that the tick has nice rounded look
            background: #fff;
            position: absolute;
            transform: rotate(45deg);
            top: .5em; // you'll need to experiment with placement depending on the dimensions you've chosen
            left: .2em;
        }

        &::after {
            content: "";
            width: 10px;
            height: 2px;
            border-radius: 2px;
            background: #fff;
            position: absolute;
            transform: rotate(305deg);
            top: .42em;
            left: .3em;
        }
    }
}


#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -999999;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    transition: all .3s;
}

.spinner {
    width: 50px;
    height: 50px;
    animation: loading-animation 1s linear infinite;
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.error-main-wrapper {
    display: flex;
    align-items: center;
}
.error-messeage {
    text-align: center;
}
.error {
    color: rgb(244, 189, 103);
    font-size: 24px;
}
